{% load static %} <!-- Tag to load static css/JS etc files coz all static files are placed in this file -->

<!DOCTYPE html>
<html lang="en">
<head>
<!-- Following stylesheet and bootstrap links are static fies -->
    <link rel="stylesheet" href="{% static 'food\style.css' %}"> <!-- Giving CSS file path -->
    <!-- Following 2 links are for including bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light"> <!-- Inbuilt bootstrap class -->
        <a href="#" class="navbar-brand">FoodApp</a> <!-- Inbuilt bootstrap class "navbar-brand" just to give name of app -->

        <div class="navbar"> <!-- Right part of navbar containing all the items -->
            <a class="nav-item nav-link" href="{%  url 'food:create_item' %}">Add Item</a> <!--Linking this button to url named 'create_item'-->
            <a class="nav-item nav-link" href="#">Delete Item</a>
            <a class="nav-item nav-link" href="#">View Item</a>

            {% if user.is_authenticated %} <!--To show login option in nav bar if no user is logged in and vice versa-->
                <a href='{% url 'logout' %}'>Logout</a>
                <a href='{% url 'profile' %}'>Profile</a>
            {% else %}
                <a href='{% url 'login' %}'>Login</a>
            {% endif %}
        </div>
    </nav>

    {% if messages %} <!--To display any messages for eg while signing up user in app users>views-->
        {% for message in messages %}
            <div class='alert alert-{{ message.tags }}'>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    {% block body %} <!-- Body of the block starts from here -->
    {% endblock %} <!-- Body of the block ends here -->
</body>
</html>